#!/usr/bin/env bash

systemctl --user import-environment DISPLAY XAUTHORITY
dbus-update-activation-environment DISPLAY XAUTHORITY

xsetroot -cursor_name left_ptr

IRONIC_WM_NAME="LG3D"

xprop -root -remove _NET_WM_NAME
xprop -root -f _NET_WM_NAME 8s -set _NET_WM_NAME "$IRONIC_WM_NAME"

exec bspwm
